.nav__menu{
    justify-content: flex-end;
}

.home{
    background: url("../img/dev.png");
    background-size: cover;
    height: 80vh;
}

.home__text{
    padding-top: 400px;
}

.cards{
    margin-bottom: 25px;
}

.portfolio__btn{
    text-align: center;
}

.footer__p{
    font-size: 11px;
}